<div class="fondo">

    <div>
        <h2 style="padding:2%;">Lista de productos</h2>
    </div>
    <div style="padding: 2%;">
        <button type="button" class="titulo" (click)="open(content)">Agregar Producto</button>
    </div>
    <table class="table">

        <thead>
            <tr>
                <th>Imagen</th>
                <th>Categoría</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Precio ($)</th>
                <th>Peso (g)</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of collection.data | paginate: config;let i = index" [class.active]="i == currentIndex">
                
                <td><img  src="{{product.imagen}}" width="50px" ></td>
                <td>{{product.categoria}}</td>
                <td>{{product.nombre}}</td>
                <td>{{product.cantidad}}</td>
                <td>{{product.precio}}</td>
                <td>{{product.peso}}</td>
                <td>
                 
                <div class="botones">
                    <button type="button" class="btn " (click)="openEdit(content, product)" style="background-color: #D0C952;">Editar</button>
                <button type="button" class="btn btn-danger" (click)="eliminar(product)">Eliminar</button>
                </div>
                
                </td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>

    <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Agregar Producto</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">

                <form [formGroup]="productForm">

                    <div class="form-group">
                        <label>Categoría</label>
                        <input type="text" formControlName="categoria" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" formControlName="nombre" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Cantidad</label>
                        <input type="number" formControlName="cantidad" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Precio</label>
                        <input type="number" formControlName="precio" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Peso</label>
                        <input type="number" formControlName="peso" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Imagen</label>
                        <input type="text" formControlName="imagen" class="form-control" (change)= "selectFiles($event)">
                    </div>

                    <div class="form-group">
                        <label>Descripción</label>
                        <input type="text" formControlName="descripcion" class="form-control">
                    </div>

                </form>

            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="guardarDatos()" *ngIf="!editar">Agregar</button>
          <button type="button" class="btn btn-outline-dark" (click)="updateProduct()" *ngIf="editar"> Actualizar</button>
        </div>
      </ng-template>

</div>


  



