.fondo{
    text-align: center;
    background-color: #d9eaeb ;
}

.titulo{
    background: #F87DAE;
    border-radius: 50px;
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
}

.botones{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}