.fondo{
    background: url('https://wallpaperaccess.com/full/3060264.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    
}

.detalles{
    position: absolute;
    width: 365px;
    height: 658px;
    left: 984px;
    top: 53px;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
}