.barra{
    width: 287px;
height: 896px;
left: 0px;
top: 128px;

background: #FFFBFC;
}

.contenedor{
    background: url('https://cutewallpaper.org/21/cute-candy-wallpapers/Cute-Candy-Wallpaper-68-Image-Collections-.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.agregar-cantidad{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.agregar-boton{
    background: #F87DAE;
    border-radius: 50px;
    color: rgb(249, 253, 255);
    width: 227px;
    line-height: 53px;
}

.encabezado{
    font-weight: 500;
}

