<body class="fondo">
  <div class="contenedor">

    <div class="container">
      <a [routerLink]="['/']" >
        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-left mt-4 ml-4"  xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
      </a> 
    <h1 class= "text-center mb-5">Iniciar sesión</h1>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group mt-4">
          <label for="exampleInputEmail1">Correo electrónico </label>
          <input type="email" class="form-control" 
          id="exampleInputEmail1" 
          aria-describedby="emailHelp"
          placeholder="Ingresar correo"
          formControlName="email"
          >
          
        </div>
        <div class="form-group mt-5">
          <label for="exampleInputPassword1">Contraseña</label>
          <input type="password" class="form-control" 
          id="exampleInputPassword1"
          placeholder="Contraseña"
          formControlName="password"
          >
        </div>
        <p><a href="">¿Has olvidado tu contraseña?</a></p>
        <div class="text-center">
          <button type="submit" class="confirmar mt-5 mb-4" >Confirmar</button>
        </div>
      </form>
        <div class="opcion-registro">
          <ul>
            <li>¿No tienes cuenta todavía?</li>
            <li><a [routerLink]="['/register']" >Registrarse</a></li>
          </ul>
        </div>
        <button class="btn btn-success mt-5" (click)= "loginWithGoogle()" *ngIf="!isAuthenticated">Iniciar sesión con Google</button>
        
      <div class="btn-group" *ngIf="isAuthenticated">
          <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{user.displayName || user.email}}
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="" (click)= "logout()">Cerrar sesión</a>
          </div>
        </div>
    </div>
  </div>
</body>




  
